html {
    background-color: #f1f5f9;
    font-family: sans-serif;
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}

.menu {
    background-color: #0d0950;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}


.nav-links {
    width: 100%;
    display: none;
    margin: 0;
}

.nav-links a {
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: unppercase;
    color: #0d0950
}

.nav-links a:hover,
.nav-links a:focus {
    background-color: #ff9776;
}

:has(.menu[aria-expanded="true"]) .nav-links {
    display: unset;
}

@media screen and (min-width: 600px) {
    .nav-links {
        margin-left: 5em;
        display: block;
        position: static;
        width: auto;
        background: none;
    }

    .nav-links a {
        display: inline-block;
        padding: 15px 20px;
    }

    .menu {
        display: none;
    }
}

