---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "我的credit网站";
---
<BaseLayout {pageTitle}>
	<p>欢迎来到我的credit网站！这是一个使用Astro构建的多页面网站。</p>
	<p>请使用上方的导航菜单浏览不同的页面。</p>	
</BaseLayout>