---
const {platform, username, url} = Astro.props;
---
<a href={`https://www.${platform}.com/${username}`} target="_blank" rel="noopener">
    关注我们在 {platform} 上的账号 @{username} </a>


<style>
    a {
        padding: 0.5rem 1rem;
        color: white;
        background-color: #4c1d95;
        text-decoration: none;
    }
</style>